*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
}

.logo{
    /* padding-left: 70px; */
    margin-left: 10vw;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

nav ul li{
    display: inline-block;
    padding: 10px 50px;
    cursor: pointer;
}

.cart{
    border: 3px solid black;
    box-sizing: border-box;
    margin-right: 10vw;
    border-radius: 5px;
}

.cart:hover{
    background-color: white;
    color: black;
    font-weight: 800;
    transform: translateY(10px);
    border-radius: 10px;
}

.main{
    margin-top: 15vh;
    margin-left: 5vw;
}

img{
    float: right;
    width: 50vw;
    height: 70vh;
    margin-right: 30px;
}

.title1{
    color: blue;
    margin-bottom: 30px;
}

.title2{
    font-size: 3rem;
    margin-bottom: 30px;
}

button{
    margin-top: 50px;
    width: 200px;
    height: 70px;
    font-size: 20px;
    background-color: rgb(245, 113, 66);
    color: white;
}

button:hover{
    background-color: orangered;
    cursor: pointer;
}