*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 28%;
    margin: 100px auto;
    border: 3px solid palegoldenrod;
    padding: 50px;
}

.header{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

form label{
    margin: 10px 0;
    font-size: 20px;
}

form input[type="text"],input[type="password"]{
    height: 55px;
    margin: 5px 0;
    border: 2px solid black;
    border-radius: 3px;
    padding: 0 15px;
    font-size: 20px;
}

form a{
    margin: 10px 0;
    text-decoration: none;
    font-weight: bolder;
    color: blueviolet;
}

form input[type="submit"]{
    height: 50px;
    background-color: blueviolet;
    font-size: 20px;
    border-radius: 3px;
    border: none;
    color: white;
    box-shadow: aquamarine;
    cursor: pointer;
    margin-top: 30px;
}

form input[type="submit"]:hover{
    background-color: white;
    color: black;
    border: 3px solid blueviolet;
}

.container footer{
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    opacity: 0.9;
}